/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 *
 *
 ***************************************************************************************************
 * Base layer: 0
 ***************************************************************************************************
 *  +--------+--------+--------+--------+--------+--------+             +--------+--------+--------+--------+--------+--------+
 *  |  Tab   |  q  Q  |  w  W  |  e  E  |  r  R  |  t  T  |             |  z  Z  |  u  U  |  i  I  |  o  O  |  p  P  |  BckS  |
 *  +--------+--------+--------+--------+--------+--------+             +--------+--------+--------+--------+--------+--------+
 *  |  Ctrl  |  a  A  |  s  S  |  d  D  |  f  F  |  g  G  |             |  h  H  |  j J   |  k K   |  l L   |  Lay 1 |  Rpt   |
 *  +--------+--------+--------+--------+--------+--------+             +--------+--------+--------+--------+--------+--------+
 *  |  Shift |  y  Y  |  x  X  |  c  C  |  v  V  |  b  B  |             |  n  N  |  m  M  | . , ? !| ( [ {  |_ = ' " |  Esc   |
 *  +--------+--------+--------+----+---+----+---+----+---+----+   +----+---+----+---+----+---+----+--------+--------+--------+
 *                                  | R Alt  | Lay 0  | Space  |   | Enter  |  Lay 2 |   Win  |
 *                                  +--------+--------+--------+   +--------+--------+--------+
 *  Shift  - hold Caps Lock
 *  x  - hold Ctrl + x
 *  c  - hold Ctrl + c
 *  v  - hold Ctrl + v
 *  Esc  - hold Alt + F4
 *
 ***************************************************************************************************
 * Accent layer: 1
 ***************************************************************************************************
 *  +--------+--------+--------+--------+--------+--------+             +--------+--------+--------+--------+--------+--------+
 *  | Tab    |        |        |  é  É  |        |        |             |  ú  Ú  |  ü  Ü  |  í  Í  |  ö  Ö  |  ő  Ő  |  BckS  |
 *  +--------+--------+--------+--------+--------+--------+             +--------+--------+--------+--------+--------+--------+
 *  | Ctrl   |  á  Á  |        |        |        |        |             |        |  ű  Ű  |        |  ó  Ó  |        |  Rpt   |
 *  +--------+--------+--------+--------+--------+--------+             +--------+--------+--------+--------+--------+--------+
 *  |   1*   |        |        |        |        |        |             |        |        |        |        |        |  Esc   |
 *  +--------+--------+--------+----+---+----+---+----+---+----+   +----+---+----+---+----+---+----+--------+--------+--------+
 *                                  | R Alt  | Lay 0  | Space  |   | Enter  |  Lay 2 |   Win  |
 *                                  +--------+--------+--------+   +--------+--------+--------+
 *  Shift  - hold Caps Lock
 *  Esc  - hold Alt + F4
 *
 *
 ***************************************************************************************************
 * Media/numpad layer: 2
 ***************************************************************************************************
 *  +--------+--------+--------+--------+--------+--------+             +--------+--------+--------+--------+--------+--------+
 *  | Tab    |  BrUp  |  Prev  |  Play  |  Next  |  VUp   |             |   -    |   +    |   7    |   8    |   9    |  BckS  |
 *  +--------+--------+--------+--------+--------+--------+             +--------+--------+--------+--------+--------+--------+
 *  | Ctrl   | BrDown |  PDown |   Up   |   PUp  | VDown  |             |   /    |   *    |   4    |   5    |   6    |  Rpt   |
 *  +--------+--------+--------+--------+--------+--------+             +--------+--------+--------+--------+--------+--------+
 *  | Shift  |Home/End|  Left  |  Down  | Right  |  Mute  |             |   .    |   0    |   1    |   2    |   3    |  Esc   |
 *  +--------+--------+--------+----+---+----+---+----+---+----+   +----+---+----+---+----+---+----+--------+--------+--------+
 *                                  | R Alt  | Lay 0  | Space  |   | Enter  |  Lay 3 |   Win  |
 *                                  +--------+--------+--------+   +--------+--------+--------+
 *  Esc  - hold Alt + F4
 *
 ***************************************************************************************************
 * Miscellaneous layer: 3
 ***************************************************************************************************
 *  +--------+--------+--------+--------+--------+--------+             +--------+--------+--------+--------+--------+--------+
 *  | Tab    |   F1   |   F2   |   F3   |   F4   |  F5    |             |   F6   |   F7   |   F8   |   F9   |   F10  |  BckS  |
 *  +--------+--------+--------+--------+--------+--------+             +--------+--------+--------+--------+--------+--------+
 *  | Ctrl   |        |        |        |        | PrtSrc |             |  < > % |  @ & # | / \ |  |   F11  |   F12  |  Rpt   |
 *  +--------+--------+--------+--------+--------+--------+             +--------+--------+--------+--------+--------+--------+
 *  | Shift  |        |        |        |        |        |             |        |        |  : ;   | ) ] }  |        |  Esc   |
 *  +--------+--------+--------+----+---+----+---+----+---+----+   +----+---+----+---+----+---+----+--------+--------+--------+
 *                                  | R Alt  | Lay 0  | Space  |   | Enter  |  Lay 2 |   Win  |
 *                                  +--------+--------+--------+   +--------+--------+--------+
 *  Esc  - hold Alt + F4
 *
 */


#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include "keys_hu.h"

#define xxx &none
#define ___ &trans

#define HME 0  // Home
#define ACC 1  // Accent
#define MEDNUM  2  // Media and numpad
#define MSC  3  // Miscellaneous

/ {
    behaviors {
        scmh: shift-caps-mod-tap {
            compatible = "zmk,behavior-hold-tap";
            label = "SHIFT_CAPS_MOD_TAP";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            bindings = <&kp CAPSLOCK>, <&sk LSHFT>;
        };

        sctd: shift_caps_tap_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp CAPSLOCK>, <&sk LSHFT>;
        };

        td3: tap_dance_3 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp>, <&kp>, <&kp>;
        };

        td4: tap_dance_4 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp>, <&kp>, <&kp>, <&kp>;
        };

        capi: capital_i_acute {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp HU_I_ACUTE>, <&kp HU_I_ACUTE_CAP>;
            mods = <(MOD_LSFT)>;
        };

    };
        keymap {
                compatible = "zmk,keymap";

                home_layer {
                        bindings = <
   &kp TAB    &kp Q  &kp W        &kp E        &kp R        &kp T           &kp Z    &kp U       &kp I                                  &kp O                         &kp P                                           &kp BSPC
   &kp LCTRL  &kp A  &kp S        &kp D        &kp F        &kp G           &kp H    &kp J       &kp K                                  &kp L                         &to 1                                           &kp SQT
   &sctd      &kp Y  &mt LC(X) X  &mt LC(C) C  &mt LC(V) V  &kp B           &kp N    &kp M       &td4 HU_DOT HU_COMMA HU_QMARK HU_EXCL  &td3 HU_LPAR HU_LBKT HU_LBRC  &td4 HU_UNDER HU_EQUAL HU_SQT HU_DOUBLE_QUOTES  &mt LA(F4) ESC
                                  &kp RALT     &to HME      &kp SPACE       &kp RET  &to MEDNUM  &kp RGUI
                        >;
                };

                accent_layer {
                        bindings = <
   ___  ___             ___  &kp HU_E_ACUTE  ___      ___          &kp  HU_U_ACUTE  &kp HU_U_UMLAUT        &capi  &kp HU_O_UMLAUT  &kp HU_O_DOUBLE_ACUTE  ___
   ___  &kp HU_A_ACUTE  ___  ___             ___      ___          ___              &kp HU_U_DOUBLE_ACUTE  ___    &kp HU_O_ACUTE   ___                    ___
   ___  ___             ___  ___             ___      ___          ___              ___                    ___    ___              ___                    ___
                             ___             ___      ___          ___              &to MEDNUM             ___
                        >;
                };

                media_numpad_layer {
                        bindings = <
   ___  ___  ___  ___  ___  ___          ___  ___      ___  ___  ___  ___
   ___  ___  ___  ___  ___  ___          ___  ___      ___  ___  ___  ___
   ___  ___  ___  ___  ___  ___          ___  ___      ___  ___  ___  ___
                  ___  ___  ___          ___  &to MSC  ___
                        >;
                };
            };
        };
